body{
	background-color: black;
}
.one{
	height: 50%;
	width: 100%;
	font-size: 280%;
	background-color: black;
	text-align: center;
	margin: 10px;
    padding:20px;
	font-family: "Lobster", cursive;
	color: #8B06FF;
}
p{
	color: #E5E5E5;
	font-family: "Noto Sans TC", sans-serif;
	text-align: center;
	font-size: 20px;
}